body{
    margin: 0;
    padding:30px 0;
    box-sizing: border-box;
    background-color: rgb(129, 129, 187);
}

#navbarNavDropdown{
    justify-content: space-between;

}
.container-fluid a{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.underline{
    border-bottom: 2px solid #0360D9;

}
h1{
    font-family: IBM Plex Sans ;
    font-weight: 20;
    font-size: 5px;
    font-style: normal;
    line-height: normal;
}
.text{
    background-color:#0360D9;
    padding: 10px 0;
    justify-content: center;
    align-items: center;


}
.text .num{
    justify-content: center;
    align-items: center;
}
.text .num1{
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}
.text .num2{
    padding-left: 100px;
}
.text .num3{
    padding-left: 100px;
}
.doctor{
    display: flex;
    justify-content: end;
    align-items: end;
}
.services{
    color: var(--black, #001514);
    font-family: IBM Plex Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:  30px;
}

